<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dependencia tecnológica</title>
<link rel="stylesheet" href="../Statics/style.css">



</head>
<body>
    <h1>DEPENDENCIA TECNOLÓGICA </h1>
    <h2>Qué es?</h2>
    <img src="Dep_tec1.jpeg" alt="Dependencia tecnológica" width="600px" height="600px">
    <p>La dependencia tecnológia es el uso compulsivo y descontrolado de dispositivos electrónicos e internet,
         que interfiere negativamente con la vida diaria, las relaciones personales, la salud física y mental, 
         y el rendimiento laboral o académico. Esta dependencia se caracteriza por la pérdida de control 
         sobre el uso de la tecnología y un malestar emocional (como ansiedad o irritabilidad) cuando no se
          tiene acceso a ella.</p>

    <br>
    <hr>
    <br>

    <h2>Una lista de las dependencias tecnológicas más comunes:</h2>
    <ul>
        <li>Juegos en línea</li>
        <li>Redes sociales</li>
        <li>Mensajería</li>
    </ul>
    <img src="Dep_tec3.jpeg" alt="Dependencia tecnológica" width="600px" height="600px">

    <br>
    <hr>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8O-CEGvobeg?si=BuL0I_dz2K5GDldw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <a href="https://www.youtube.com/watch?v=TwCT5TaVB2s" target="_blank">Mira este video sobre la dependencia tecnológica</a>
    <a href="web2.html" target="_blank">Ir a otra web</a>
    <button><a href="web2.html" target="_blank">Ir a otra web</a></button>


    <h2>Qué tipos hay?</h2>
    <p>Los tipos de dependencia tecnológica se dividen principalmente en dos categorías:
         las adicciones conductuales y la dependencia empresarial. 
         Las adicciones conductuales incluyen el uso excesivo de redes sociales, videojuegos, 
         internet y el móvil (nomofobia), mientras que la dependencia empresarial se refiere a la 
         interdependencia de las empresas con los gigantes tecnológicos para sus infraestructuras y servicios,
          según la Clínica Recal</p>
    <img src="Dep_tec2.jpeg" alt="Dependencia tecnológica" width="600px" height="600px">

    <br>
    <hr>
    <br>

    <h2>Qué consecuencias tiene?</h2>
    <p>Las consecuencias de la dependencia tecnológica abarcan problemas de salud física
         (sedentarismo, problemas de sueño, fatiga visual, dolores musculoesqueléticos),
          salud mental (ansiedad, depresión, estrés digital, aislamiento social) y 
          deterioro de las relaciones personales y del rendimiento (academico o laboral, 
          desintegración familiar). También puede generar irritabilidad y tensión, 
          especialmente cuando no se tiene acceso a los dispositivos. </p>



</body>
</html>