<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h1>Que es la adicciones tecnológicas:</h1>
<p>La dependencia tecnológica es el uso compulsivo y descontrolado de 
    dispositivos electrónicos e internet, que interfiere negativamente 
    con la vida diaria, las relaciones personales, la salud física y mental, 
    y el rendimiento laboral o académico. Esta dependencia se caracteriza 
    por la pérdida de control sobre el uso de la tecnología y un malestar 
    emocional (como ansiedad o irritabilidad) cuando no se tiene acceso a ella.  </p>
<body>
    
</body>
</html>