body{
    background-color: #d7f6f0;
    border: 8px solid rgb(250, 181, 43);
}
h1{
    font-size: 50px;
    text-align: center;
    color: rgb(213, 169, 94);
    animation:anime1 2s 1;
}
@keyframes anime1{
    0%{ color: yellow;}
    20%{ color: rgb(127, 255, 133);}
    50%{ color: aquamarine;}
    75%{ color: pink;}
    100%{ color: rgb(213, 169, 94);}
}
title{
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
}
button{
    background-color:rgb(88, 239, 158) ;
    width: 150px;
    height: 50px;
    border-radius: 25px;
}
button:hover{
    background-color: rgb(57, 151, 101);
    border-radius: 10px;
}
a{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
}